# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/project/dist
/project/tmp
/project/out-tsc

# dependencies
/project/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/project/.sass-cache
/project/connect.lock
/project/coverage
/project/libpeerconnection.log
/projectnpm-debug.log
/projecttestem.log
/project/typings
/projectyarn-error.log

# e2e
/project/e2e/*.js
/project/e2e/*.map

# System Files
.DS_Store
Thumbs.db
